openapi: 3.1.0
info:
  title: AgileWorks WebAPI (R3.1.1)
  version: 1.0.0
servers:
  - url: https://sample.atled.jp/AgileWorks
security:
  - ApiKeyAuth: []
tags:
  - name: common
  - name: DocAPI
  - name: WorkflowAPI
  - name: OrgAPI
  - name: SiteAPI
  - name: UserMasterAPI
  - name: FormAPI
  - name: PublicationAPI
  - name: NotAdminAPI
  - name: SCIMAPI/Users
  - name: SCIMAPI/Groups
  - name: SCIMAPI/ResourceTypes
  - name: SCIMAPI/Schemas
  - name: SCIMAPI/Service
paths:
  /Broker/WebApi/Model:
    get:
      tags:
        - common
      summary: モデルオブジェクト取得
      description: 指定のモデルオブジェクトを初期化した状態で取得します。
      operationId: model
      parameters:
        - $ref: '#/components/parameters/model_name'
      responses:
        '200':
          description: 詳細は各サービス実行APIのリクエストボディを参照してください。
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service:
    post:
      tags:
        - common
      summary: サービス実行
      description: AgileWorksの各サービスを実行します。<br> （管理者権限必須API）管理ロールの「全てのコンテンツ、全ての業務カテゴリの権限を持つ管理ロール」を有しているユーザーで実行することができます。 （管理者権限不要API）管理ロールの「全てのコンテンツ、全ての業務カテゴリの権限を持つ管理ロール」の所属有無に問わず、実行することができます。
      operationId: service
      parameters:
        - $ref: '#/components/parameters/service_name'
        - $ref: '#/components/parameters/service_method'
      requestBody:
        $ref: '#/components/requestBodies/nonParameter'
      responses:
        '200':
          description: すべてのサービス実行APIは共通でcommon.ResponseModel型のフィールドがレスポンスボディに含まれます。
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/resultStatus'
              example:
                value:
                  resultStatus:
                    status: SUCCESS
                    messageList:
                      entries: []
                    text: null
                    code: null
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Download:
    get:
      tags:
        - common
      summary: ダウンロード
      description: AgileWorks上にアップロードされている各ファイルをダウンロードします。
      operationId: download
      parameters:
        - $ref: '#/components/parameters/download_s'
      responses:
        '200':
          description: |
            取得したファイル名は、Content-Disposition レスポンスヘッダに以下の形式で格納されます。<br>
            ・ファイル名が全て ASCII 文字で構成される場合<br>
            attachment;filename="<ファイル名>"<br>
            ・ファイル名に ASCII 以外の文字を含む場合<br>
            attachment;filename="<URL エンコードされたファイル名>"
          content:
            application/octet-stream:
              example: ファイルの内容（バイナリデータ）
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=getDocHeader:
    post:
      tags:
        - DocAPI
      summary: 1書類情報取得
      description: 書類の各情報を取得します。
      operationId: getDocHeader
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/GetDocHeaderResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=getDoc:
    post:
      tags:
        - DocAPI
      summary: 書類データ取得
      description: 書類データを取得します。
      operationId: getDoc
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/DocResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=prepareDocRequest:
    post:
      tags:
        - DocAPI
      summary: 新規書類データ作成
      description: 初期状態の書類データを作成します。
      operationId: prepareDocRequest
      requestBody:
        $ref: '#/components/requestBodies/PrepareDocRequest'
      responses:
        '200':
          $ref: '#/components/responses/PrepareDocResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=addDoc:
    post:
      tags:
        - DocAPI
      summary: 新規書類データ保存
      description: 新規に作成した書類データを保存します。<br> 「新規書類データ作成API」で取得したdocの値を雛形として、書類の各フィールドに値をセットし、本APIにより書類データの保存を行います。<br> 本APIで保存した書類データを画面から参照できるようにするには、さらに、「下書き保存API」あるいは「書類作成 / 申請API」を実行する必要があります。
      operationId: addDoc
      requestBody:
        $ref: '#/components/requestBodies/AddDocRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=updateDoc:
    post:
      tags:
        - DocAPI
      summary: 書類データ更新
      description: 初期状態の書類データを作成します。<br> 「書類データ取得API」または「新規書類データ保存API」で取得したdocに対し、フィールドの値を変更し、本APIにより書類データを更新することができます。
      operationId: updateDoc
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=hardDeleteDoc:
    post:
      tags:
        - DocAPI
      summary: 書類物理削除
      description: 論理削除済みの書類を物理削除します。<br> 論理削除を行う場合は「書類論理削除API」を参照してください。
      operationId: hardDeleteDoc
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=selectDoc:
    post:
      tags:
        - DocAPI
      summary: 書類検索
      description: 指定した条件に合致する書類の一覧を取得します。
      operationId: selectDoc
      requestBody:
        $ref: '#/components/requestBodies/SelectDocRequest'
      responses:
        '200':
          $ref: '#/components/responses/SelectDocResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=getDocPdf:
    post:
      tags:
        - DocAPI
      summary: 書類PDFファイル取得
      description: 書類のPDFファイルを生成し、ダウンロードします。
      operationId: getDocPdf
      requestBody:
        $ref: '#/components/requestBodies/GetDocPdfRequest'
      responses:
        '200':
          $ref: '#/components/responses/GetDocPdfResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=listDocComment:
    post:
      tags:
        - DocAPI
      summary: 書類コメント一覧取得
      description: 書類のコメント一覧を取得します。
      operationId: listDocComment
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/ListDocCommentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=addDocComment:
    post:
      tags:
        - DocAPI
      summary: 書類メモ追加
      description: 書類のメモを追加します。
      operationId: addDocComment
      requestBody:
        $ref: '#/components/requestBodies/AddDocCommentRequest'
      responses:
        '200':
          $ref: '#/components/responses/AddDocCommentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=deleteDocComment:
    post:
      tags:
        - DocAPI
      summary: 書類コメント / メモ削除
      description: 書類のコメント / メモを削除します。
      operationId: deleteDocComment
      requestBody:
        $ref: '#/components/requestBodies/DeleteDocCommentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=addDocAttachment:
    post:
      tags:
        - DocAPI
      summary: 書類添付情報追加
      description: 書類の添付情報を追加します。
      operationId: addDocAttachement
      requestBody:
        $ref: '#/components/requestBodies/AddDocAttachmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocAttachmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=updateDocAttachment:
    post:
      tags:
        - DocAPI
      summary: 書類添付情報更新
      description: 書類の添付情報を更新します。
      operationId: updateDocAttachement
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocAttachmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DocAttachmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=listDocAttachment:
    post:
      tags:
        - DocAPI
      summary: 書類添付情報一覧取得
      description: 書類の添付情報一覧を取得します。
      operationId: listDocAttachement
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/ListDocAttachmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=deleteDocAttachment:
    post:
      tags:
        - DocAPI
      summary: 書類添付情報削除
      description: 書類の添付情報を削除します。
      operationId: deleteDocAttachement
      requestBody:
        $ref: '#/components/requestBodies/DeleteDocAttachmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=getDocReferencee:
    post:
      tags:
        - DocAPI
      summary: 参照元関連書類情報取得
      description: 参照元の関連書類情報を取得します。
      operationId: getDocReferencee
      requestBody:
        $ref: '#/components/requestBodies/docId2'
      responses:
        '200':
          $ref: '#/components/responses/GetDocReferenceeResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=listDocReferencer:
    post:
      tags:
        - DocAPI
      summary: 参照先関連書類情報一覧取得
      description: 参照先の関連書類情報の一覧を取得します。
      operationId: listDocReferencer
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/ListDocReferencerResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=addDocReference:
    post:
      tags:
        - DocAPI
      summary: 関連書類追加
      description: 書類の関連付けを追加します。
      operationId: addDocReference
      requestBody:
        $ref: '#/components/requestBodies/DocReferenceRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=deleteDocReference:
    post:
      tags:
        - DocAPI
      summary: 関連書類削除
      description: 書類の関連付けを削除します。
      operationId: deleteDocReference
      requestBody:
        $ref: '#/components/requestBodies/DocReferenceRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=doc.Doc&method=openDoc:
    post:
      tags:
        - DocAPI
      summary: 書類表示
      description: 書類を表示するHTMLをダウンロードします。
      operationId: openDoc
      requestBody:
        $ref: '#/components/requestBodies/OpenDocRequest'
      responses:
        '200':
          $ref: '#/components/responses/TextHtmlResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=countWorkflowMessage:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報件数取得
      description: |
        回付情報の件数を取得します。
      operationId: countWorkflowMessage
      requestBody:
        $ref: '#/components/requestBodies/CountWorkflowMessageRequest'
      responses:
        '200':
          $ref: '#/components/responses/CountResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=countListWorkflowMessage:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報件数一覧取得
      description: |
        回付情報の件数の一覧を取得します。
      operationId: countListWorkflowMessage
      requestBody:
        $ref: '#/components/requestBodies/CountListWorkflowMessageRequest'
      responses:
        '200':
          $ref: '#/components/responses/CountListWorkflowMessageResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=selectWorkflowMessage:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報検索
      description: |
        回付情報の一覧を検索します。
      operationId: selectWorkflowMessage
      requestBody:
        $ref: '#/components/requestBodies/SelectWorkflowMessageRequest'
      responses:
        '200':
          $ref: '#/components/responses/SelectWorkflowMessageResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=draft:
    post:
      tags:
        - WorkflowAPI
      summary: 書類下書き保存
      description: |
        書類を下書き保存します。
      operationId: draft
      requestBody:
        $ref: '#/components/requestBodies/DraftRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=start:
    post:
      tags:
        - WorkflowAPI
      summary: 書類作成/申請
      description: |
        書類を作成または申請します。
      operationId: start
      requestBody:
        $ref: '#/components/requestBodies/StartRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=approve:
    post:
      tags:
        - WorkflowAPI
      summary: 書類承認
      description: |
        書類を承認します。
      operationId: approve
      requestBody:
        $ref: '#/components/requestBodies/ApproveRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=delete:
    post:
      tags:
        - WorkflowAPI
      summary: 書類論理削除
      description: |
        書類を論理削除します。
      operationId: delete
      requestBody:
        $ref: '#/components/requestBodies/DeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=remand:
    post:
      tags:
        - WorkflowAPI
      summary: 書類差戻し
      description: |
        書類を差戻します。
      operationId: remand
      requestBody:
        $ref: '#/components/requestBodies/RemandRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=retract:
    post:
      tags:
        - WorkflowAPI
      summary: 書類引戻し
      description: |
        書類を引戻します。
      operationId: retract
      requestBody:
        $ref: '#/components/requestBodies/RetractRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=reject:
    post:
      tags:
        - WorkflowAPI
      summary: 書類却下
      description: |
        書類を却下します。
      operationId: reject
      requestBody:
        $ref: '#/components/requestBodies/RejectRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=getWorkflowInfo:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報取得
      description: |
        回付情報を取得します。
      operationId: getWorkflowInfo
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/GetWorkflowInfoResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=findWorkflowTask:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報タスク検索
      description: |
        回付情報タスクを検索します。
      operationId: findWorkflowTask
      requestBody:
        $ref: '#/components/requestBodies/FindWorkflowTaskRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindWorkflowTaskResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=listWorkflowJournal:
    post:
      tags:
        - WorkflowAPI
      summary: 回付履歴一覧取得
      description: |
        回付履歴の一覧を取得します。
      operationId: listWorkflowJournal
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/ListWorkflowJournalResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=listElectJournal:
    post:
      tags:
        - WorkflowAPI
      summary: 処理者変更履歴一覧取得
      description: |
        処理者変更履歴の一覧を取得します。
      operationId: listElectJournal
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/ListElectJournalResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=workflow.Workflow&method=listShareJournal:
    post:
      tags:
        - WorkflowAPI
      summary: 共有履歴一覧取得
      description: |
        共有履歴の一覧を取得します。
      operationId: listShareJournal
      requestBody:
        $ref: '#/components/requestBodies/docId'
      responses:
        '200':
          $ref: '#/components/responses/ListShareJournalResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー作成
      description: |
        ユーザーを作成します。
      operationId: AddUser
      requestBody:
        $ref: '#/components/requestBodies/AddUserRequest'
      responses:
        '200':
          $ref: '#/components/responses/UserResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー参照
      description: |
        指定されたパラメータのユーザーを参照します。<br>
        ユーザーの参照には、基準日を指定する必要があります。<br>
        指定した基準日が適用期間内に含まれるユーザーを参照します。<br>
        また、columnValueConditionListで検索条件を指定できます。
      operationId: FindUser
      requestBody:
        $ref: '#/components/requestBodies/FindUserRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindUserResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー更新
      description: ユーザーを更新します。
      operationId: UpdateUser
      requestBody:
        $ref: '#/components/requestBodies/UpdateUserRequest'
      responses:
        '200':
          $ref: '#/components/responses/UserResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー削除
      description: ユーザーを削除します。
      operationId: DeleteUser
      requestBody:
        $ref: '#/components/requestBodies/DeleteUserRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=disableUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー適用終了
      description: ユーザーを適用終了します。
      operationId: DisableUser
      requestBody:
        $ref: '#/components/requestBodies/DisableUserRequest'
      responses:
        '200':
          $ref: '#/components/responses/DisableUserResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織作成
      description: 組織を作成します。
      operationId: addUnit
      requestBody:
        $ref: '#/components/requestBodies/AddUnitRequest'
      responses:
        '200':
          $ref: '#/components/responses/UnitResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織参照
      description: 組織を参照します。
      operationId: findUnit
      requestBody:
        $ref: '#/components/requestBodies/FindUnitRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindUnitResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織更新
      description: 組織を更新します。
      operationId: updateUnit
      requestBody:
        $ref: '#/components/requestBodies/UpdateUnitRequest'
      responses:
        '200':
          $ref: '#/components/responses/UnitResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織削除
      description: 組織を削除します。
      operationId: deleteUnit
      requestBody:
        $ref: '#/components/requestBodies/DeleteUnitRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=disableUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織適用終了
      description: 組織を適用終了します。
      operationId: disableUnit
      requestBody:
        $ref: '#/components/requestBodies/DisableUnitRequest'
      responses:
        '200':
          $ref: '#/components/responses/DisableUnitResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addSectionRole:
    post:
      tags:
        - OrgAPI
      summary: セクションロール作成
      description: セクションロールを作成します。
      operationId: addSectionRole
      requestBody:
        $ref: '#/components/requestBodies/AddSectionRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/SectionRoleResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findSectionRole:
    post:
      tags:
        - OrgAPI
      summary: セクションロール参照
      description: セクションロールを参照します。
      operationId: findSectionRole
      requestBody:
        $ref: '#/components/requestBodies/FindSectionRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindSectionRoleResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateSectionRole:
    post:
      tags:
        - OrgAPI
      summary: セクションロール更新
      description: セクションロールを更新します。
      operationId: updateSectionRole
      requestBody:
        $ref: '#/components/requestBodies/UpdateSectionRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/SectionRoleResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteSectionRole:
    post:
      tags:
        - OrgAPI
      summary: セクションロール削除
      description: セクションロールを削除します。
      operationId: deleteSectionRole
      requestBody:
        $ref: '#/components/requestBodies/DeleteSectionRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addSectionRoleGroup:
    post:
      tags:
        - OrgAPI
      summary: セクションロールグループ作成
      description: セクションロールグループを作成します。
      operationId: addSectionRoleGroup
      requestBody:
        $ref: '#/components/requestBodies/AddSectionRoleGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/SectionRoleGroupResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findSectionRoleGroup:
    post:
      tags:
        - OrgAPI
      summary: セクションロールグループ参照
      description: セクションロールグループを参照します。
      operationId: findSectionRoleGroup
      requestBody:
        $ref: '#/components/requestBodies/FindSectionRoleGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindSectionRoleGroupResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateSectionRoleGroup:
    post:
      tags:
        - OrgAPI
      summary: セクションロールグループ更新
      description: セクションロールグループを更新します。
      operationId: updateSectionRoleGroup
      requestBody:
        $ref: '#/components/requestBodies/UpdateSectionRoleGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/SectionRoleGroupResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteSectionRoleGroup:
    post:
      tags:
        - OrgAPI
      summary: セクションロールグループ削除
      description: セクションロールグループを削除します。
      operationId: deleteSectionRoleGroup
      requestBody:
        $ref: '#/components/requestBodies/DeleteSectionRoleGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属作成
      description: 組織所属を作成します。
      operationId: addUnitAppointment
      requestBody:
        $ref: '#/components/requestBodies/AddUnitAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/UnitAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属参照
      description: 組織所属を参照します。
      operationId: findUnitAppointment
      requestBody:
        $ref: '#/components/requestBodies/FindUnitAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindUnitAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属更新
      description: 組織所属を更新します。
      operationId: updateUnitAppointment
      requestBody:
        $ref: '#/components/requestBodies/UpdateUnitAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/UnitAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属削除
      description: 組織所属を削除します。
      operationId: deleteUnitAppointment
      requestBody:
        $ref: '#/components/requestBodies/DeleteUnitAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=disableUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属適用終了
      description: 組織所属を適用終了します。
      operationId: disableUnitAppointment
      requestBody:
        $ref: '#/components/requestBodies/DisableUnitAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DisableUnitAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請作成
      description: 代理申請を作成します。
      operationId: addProxyApplyAppointment
      requestBody:
        $ref: '#/components/requestBodies/AddProxyApplyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ProxyApplyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請参照
      description: 代理申請を参照します。
      operationId: findProxyApplyAppointment
      requestBody:
        $ref: '#/components/requestBodies/FindProxyApplyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindProxyApplyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請更新
      description: 代理申請を更新します。
      operationId: updateProxyApplyAppointment
      requestBody:
        $ref: '#/components/requestBodies/UpdateProxyApplyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ProxyApplyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請削除
      description: 代理申請を削除します。
      operationId: deleteProxyApplyAppointment
      requestBody:
        $ref: '#/components/requestBodies/DeleteProxyApplyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=disableProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請適用終了
      description: 代理申請を適用終了します。
      operationId: disableProxyApplyAppointment
      requestBody:
        $ref: '#/components/requestBodies/DisableProxyApplyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DisableProxyApplyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認作成
      description: 代理承認を作成します。
      operationId: addProxyAppointment
      requestBody:
        $ref: '#/components/requestBodies/AddProxyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ProxyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認参照
      description: 代理承認を参照します。
      operationId: findProxyAppointment
      requestBody:
        $ref: '#/components/requestBodies/FindProxyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindProxyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認更新
      description: 代理承認を更新します。
      operationId: updateProxyAppointment
      requestBody:
        $ref: '#/components/requestBodies/UpdateProxyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ProxyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認削除
      description: 代理承認を削除します。
      operationId: deleteProxyAppointment
      requestBody:
        $ref: '#/components/requestBodies/DeleteProxyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=disableProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認適用終了
      description: 代理承認を適用終了します。
      operationId: disableProxyAppointment
      requestBody:
        $ref: '#/components/requestBodies/DisableProxyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DisableProxyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲作成
      description: 権限委譲を作成します。
      operationId: addDelegationAppointment
      requestBody:
        $ref: '#/components/requestBodies/AddDelegationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DelegationAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲参照
      description: 権限委譲を参照します。
      operationId: findDelegationAppointment
      requestBody:
        $ref: '#/components/requestBodies/FindDelegationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindDelegationAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲更新
      description: 権限委譲を更新します。
      operationId: updateDelegationAppointment
      requestBody:
        $ref: '#/components/requestBodies/UpdateDelegationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DelegationAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲削除
      description: 権限委譲を削除します。
      operationId: deleteDelegationAppointment
      requestBody:
        $ref: '#/components/requestBodies/DeleteDelegationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=disableDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲適用終了
      description: 権限委譲を適用終了します。
      operationId: disableDelegationAppointment
      requestBody:
        $ref: '#/components/requestBodies/DisableDelegationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DisableDelegationAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限作成
      description: 引上げ権限を作成します。
      operationId: addDeprivationAppointment
      requestBody:
        $ref: '#/components/requestBodies/AddDeprivationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DeprivationAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限参照
      description: 引上げ権限を参照します。
      operationId: findDeprivationAppointment
      requestBody:
        $ref: '#/components/requestBodies/FindDeprivationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindDeprivationAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限更新
      description: 引上げ権限を更新します。
      operationId: updateDeprivationAppointment
      requestBody:
        $ref: '#/components/requestBodies/UpdateDeprivationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DeprivationAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限削除
      description: 引上げ権限を削除します。
      operationId: deleteDeprivationAppointment
      requestBody:
        $ref: '#/components/requestBodies/DeleteDeprivationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=disableDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限適用終了
      description: 引上げ権限を適用終了します。
      operationId: disableDeprivationAppointment
      requestBody:
        $ref: '#/components/requestBodies/DisableDeprivationAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DisableDeprivationAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addPrivateRole:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール作成
      description: プライベートロールを作成します。
      operationId: addPrivateRole
      requestBody:
        $ref: '#/components/requestBodies/AddPrivateRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/PrivateRoleResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findPrivateRole:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール参照
      description: プライベートロールを参照します。
      operationId: findPrivateRole
      requestBody:
        $ref: '#/components/requestBodies/FindPrivateRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindPrivateRoleResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updatePrivateRole:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール更新
      description: プライベートロールを更新します。
      operationId: updatePrivateRole
      requestBody:
        $ref: '#/components/requestBodies/UpdatePrivateRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/PrivateRoleResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deletePrivateRole:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール削除
      description: プライベートロールを削除します。
      operationId: deletePrivateRole
      requestBody:
        $ref: '#/components/requestBodies/DeletePrivateRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addPrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属作成
      description: プライベートロール所属を作成します。
      operationId: addPrivateRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/AddPrivateRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PrivateRoleAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findPrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属参照
      description: プライベートロール所属を参照します。
      operationId: findPrivateRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/FindPrivateRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindPrivateRoleAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updatePrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属更新
      description: プライベートロール所属を更新します。
      operationId: updatePrivateRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/UpdatePrivateRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PrivateRoleAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deletePrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属削除
      description: プライベートロール所属を削除します。
      operationId: deletePrivateRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/DeletePrivateRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=disablePrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属適用終了
      description: プライベートロール所属を適用終了します。
      operationId: disablePrivateRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/DisablePrivateRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DisablePrivateRoleAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addUniversalRole:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール作成
      description: ユニバーサルロールを作成します。
      operationId: addUniversalRole
      requestBody:
        $ref: '#/components/requestBodies/AddUniversalRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/UniversalRoleResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findUniversalRole:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール参照
      description: ユニバーサルロールを参照します。
      operationId: findUniversalRole
      requestBody:
        $ref: '#/components/requestBodies/FindUniversalRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindUniversalRoleResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateUniversalRole:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール更新
      description: ユニバーサルロールを更新します。
      operationId: updateUniversalRole
      requestBody:
        $ref: '#/components/requestBodies/UpdateUniversalRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/UniversalRoleResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteUniversalRole:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール削除
      description: ユニバーサルロールを削除します。
      operationId: deleteUniversalRole
      requestBody:
        $ref: '#/components/requestBodies/DeleteUniversalRoleRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=addUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属作成
      description: ユニバーサルロール所属を作成します。
      operationId: addUniversalRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/AddUniversalRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/UniversalRoleAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=findUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属参照
      description: ユニバーサル所属を参照します。
      operationId: findUniversalRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/FindUniversalRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindUniversalRoleAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=updateUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属更新
      description: ユニバーサルロール所属を更新します。
      operationId: updateUniversalRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/UpdateUniversalRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/UniversalRoleAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=deleteUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属削除
      description: ユニバーサルロール所属を削除します。
      operationId: deleteUniversalRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/DeleteUniversalRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=org.Org&method=disableUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属適用終了
      description: ユニバーサルロール所属を適用終了します。
      operationId: disableUniversalRoleAppointment
      requestBody:
        $ref: '#/components/requestBodies/DisableUniversalRoleAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/DisableUniversalRoleAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=site.Site&method=findProject:
    post:
      tags:
        - SiteAPI
      summary: 業務カテゴリ一覧取得
      description: 業務カテゴリ一覧を取得します。
      operationId: findProject
      requestBody:
        $ref: '#/components/requestBodies/FindProjectRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindProjectResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=usermaster.UserMaster&method=importTinyUserMaster:
    post:
      tags:
        - UserMasterAPI
      summary: 外部マスタ(標準)取込
      description: 外部マスタ(標準)をインポートします。
      operationId: importTinyUserMaster
      requestBody:
        $ref: '#/components/requestBodies/ImportTinyUserMasterRequest'
      responses:
        '200':
          $ref: '#/components/responses/CountResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=usermaster.UserMaster&method=exportTinyUserMaster:
    post:
      tags:
        - UserMasterAPI
      summary: 外部マスタ(標準)取得
      description: 外部マスタ(標準)をエクスポートします。
      operationId: exportTinyUserMaster
      requestBody:
        $ref: '#/components/requestBodies/ExportUserMasterRequest'
      responses:
        '200':
          $ref: '#/components/responses/CsvResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=usermaster.UserMaster&method=importUserMaster:
    post:
      tags:
        - UserMasterAPI
      summary: 外部マスタ(拡張)取込
      description: 外部マスタ(拡張)をインポートします。
      operationId: importUserMaster
      requestBody:
        $ref: '#/components/requestBodies/ImportUserMasterRequest'
      responses:
        '200':
          $ref: '#/components/responses/CountResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=usermaster.UserMaster&method=exportUserMaster:
    post:
      tags:
        - UserMasterAPI
      summary: 外部マスタ(拡張)取得
      description: 外部マスタ(拡張)をエクスポートします。
      operationId: exportUserMaster
      requestBody:
        $ref: '#/components/requestBodies/ExportUserMasterRequest'
      responses:
        '200':
          $ref: '#/components/responses/CsvResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=form.Form&method=listComponentMasterWindow:
    post:
      tags:
        - FormAPI
      summary: マスター参照コンポーネント一覧取得
      description: マスター参照コンポーネント一覧を取得します。
      operationId: listComponentMasterWindow
      requestBody:
        $ref: '#/components/requestBodies/nonParameter'
      responses:
        '200':
          $ref: '#/components/responses/ListComponentMasterWindowResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=form.Form&method=listComponentAutoNumber:
    post:
      tags:
        - FormAPI
      summary: 自動採番コンポーネント一覧取得
      description: 自動採番コンポーネント一覧を取得します。
      operationId: listComponentAutoNumber
      requestBody:
        $ref: '#/components/requestBodies/nonParameter'
      responses:
        '200':
          $ref: '#/components/responses/ListComponentAutoNumberResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=form.Form&method=listForm:
    post:
      tags:
        - FormAPI
      summary: 登録フォーム一覧取得
      description: 登録フォーム一覧を取得します。
      operationId: listForm
      requestBody:
        $ref: '#/components/requestBodies/ListFormRequest'
      responses:
        '200':
          $ref: '#/components/responses/ListFormResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=form.Form&method=findFormDefinition:
    post:
      tags:
        - FormAPI
      summary: フォーム定義情報取得
      description: フォーム定義情報を取得します。
      operationId: findFormDefinition
      requestBody:
        $ref: '#/components/requestBodies/FindFormDefinitionRequest'
      responses:
        '200':
          $ref: '#/components/responses/FindFormDefinitionResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=publication.Publication&method=listPublicFolderInfo:
    post:
      tags:
        - PublicationAPI
      summary: 公開フォルダ・公開フォーム取得
      description: 公開フォルダ・公開フォーム一覧を取得します。
      operationId: listPublicFolderInfo
      requestBody:
        $ref: '#/components/requestBodies/ListPublicFolderInfoRequest'
      responses:
        '200':
          $ref: '#/components/responses/ListPublicFolderInfoResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.doc.Doc&method=prepareDocRequest:
    post:
      tags:
        - NotAdminAPI
      summary: (管理者権限不要) 新規書類データ作成
      description: 初期状態の書類データを作成する API です。<br> 取得したレスポンスは「新規書類データ保存 API」で使用できます。
      operationId: notAdminPrepareDocRequest
      requestBody:
        $ref: '#/components/requestBodies/NotAdminPrepareDocRequest'
      responses:
        '200':
          $ref: '#/components/responses/NotAdminPrepareDocResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.doc.Doc&method=addDoc:
    post:
      tags:
        - NotAdminAPI
      summary: （管理者権限不要）新規書類データ保存
      description: 新規に作成した書類データを保存します。<br> 「新規書類データ作成API」で取得したdocの値を雛形として、書類の各フィールドに値をセットし、本APIにより書類データの保存を行います。<br> 本APIで保存した書類データを画面から参照できるようにするには、さらに「書類作成 / 申請API」を実行する必要があります。
      operationId: notAdminAddDoc
      requestBody:
        $ref: '#/components/requestBodies/NotAdminAddDocRequest'
      responses:
        '200':
          $ref: '#/components/responses/NotAdminDocResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.doc.Doc&method=selectDoc:
    post:
      tags:
        - NotAdminAPI
      summary: (管理者権限不要) 書類検索
      description: API 実行ユーザーが閲覧可能且つ<br> 指定した条件に合致する書類の一覧を取得する API です。
      operationId: notAdminSelectDoc
      requestBody:
        $ref: '#/components/requestBodies/NotAdminSelectDocRequest'
      responses:
        '200':
          $ref: '#/components/responses/SelectDocResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.doc.Doc&method=getDocView:
    post:
      tags:
        - NotAdminAPI
      summary: (管理者権限不要) 書類表示
      description: API 実行ユーザーが閲覧可能な書類を表示する HTML を取得する API です。
      operationId: notAdminGetDocView
      requestBody:
        $ref: '#/components/requestBodies/NotAdminOpenDocRequest'
      responses:
        '200':
          $ref: '#/components/responses/TextHtmlResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.workflow.Workflow&method=countListWorkflowMessage:
    post:
      tags:
        - NotAdminAPI
      summary: （管理者権限不要）回付情報件数一覧取得
      description: |
        API 実行ユーザーが閲覧可能な回付情報の件数の一覧を取得する API です。
      operationId: notAdminCountListWorkflowMessage
      requestBody:
        $ref: '#/components/requestBodies/NotAdminCountListWorkflowMessageRequest'
      responses:
        '200':
          $ref: '#/components/responses/NotAdminCountListWorkflowMessageResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.workflow.Workflow&method=selectWorkflowMessage:
    post:
      tags:
        - NotAdminAPI
      summary: （管理者権限不要）回付情報検索
      description: |
        API 実行ユーザーが閲覧可能な回付情報の一覧を検索する API です。
      operationId: notAdminSelectWorkflowMessage
      requestBody:
        $ref: '#/components/requestBodies/NotAdminSelectWorkflowMessageRequest'
      responses:
        '200':
          $ref: '#/components/responses/SelectWorkflowMessageResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.workflow.Workflow&method=start:
    post:
      tags:
        - NotAdminAPI
      summary: (管理者権限不要) 書類作成/申請
      description: API 実行ユーザーが、本人または代理の立場で書類作成/申請を行う API です。<br> 作成ステップがある回付ルールの書類を作成/申請する場合、申請ユーザーに設定可能なユーザーは申請ステップの処理者の条件を満たすユーザーに限られます。
      operationId: notAdminStart
      requestBody:
        $ref: '#/components/requestBodies/NotAdminStartRequest'
      responses:
        '200':
          $ref: '#/components/responses/ResultStatusResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.org.Org&method=listProxyApplyAppointment:
    post:
      tags:
        - NotAdminAPI
      summary: (管理者権限不要) 所有している代理申請権限取得API
      description: API 実行ユーザーの所有している代理申請権限を取得する API です。<br>
      operationId: notAdminListProxyApplyAppointment
      requestBody:
        $ref: '#/components/requestBodies/NotAdminListProxyApplyAppointmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/NotAdminListProxyApplyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.org.Org&method=listProxyAppointment:
    post:
      tags:
        - NotAdminAPI
      summary: (管理者権限不要) 所有している代理承認権限取得API
      description: API 実行ユーザーの所有している代理承認権限を取得する API です。<br>
      operationId: notAdminListProxyAppointment
      requestBody:
        $ref: '#/components/requestBodies/nonParameter'
      responses:
        '200':
          $ref: '#/components/responses/NotAdminListProxyAppointmentResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.publication.Publication&method=listPublicFolderInfo:
    post:
      tags:
        - NotAdminAPI
      summary: （管理者権限不要）公開フォルダ・公開フォーム取得
      description: API 実行ユーザーの公開フォルダ・公開フォーム一覧を取得する API です。<br> リクエストボディの userCode に API 実行ユーザーが代理申請権限を持つユーザーを指定した場合、レスポンスに含まれる公開フォームは代理申請権限のフォーム、回付ルールの条件に合うものに限られます。
      operationId: notAdminListPublicFolderInfo
      requestBody:
        $ref: '#/components/requestBodies/NotAdminListPublicFolderInfoRequest'
      responses:
        '200':
          $ref: '#/components/responses/NotAdminListPublicFolderInfoResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.system.System&method=getUserInfo:
    post:
      tags:
        - NotAdminAPI
      summary: （管理者権限不要）ユーザー情報取得
      description: API 実行ユーザー自身のユーザー情報を取得する API です。
      operationId: notAdminGetUserInfo
      requestBody:
        $ref: '#/components/requestBodies/nonParameter'
      responses:
        '200':
          $ref: '#/components/responses/NotAdminGetUserInfoResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/WebApi/Service?name=userfunc.system.System&method=getVersion:
    post:
      tags:
        - NotAdminAPI
      summary: （管理者権限不要）バージョン情報取得
      description: AgileWorks のバージョン情報を取得する API です。
      operationId: notAdminGetVersion
      requestBody:
        $ref: '#/components/requestBodies/nonParameter'
      responses:
        '200':
          $ref: '#/components/responses/NotAdminGetVersionResponses200'
        '400':
          $ref: '#/components/responses/ErrorResponses400'
        '401':
          $ref: '#/components/responses/ErrorResponses401'
        '404':
          $ref: '#/components/responses/ErrorResponses404'
        '500':
          $ref: '#/components/responses/ErrorResponses500'
        '503':
          $ref: '#/components/responses/ErrorResponses503'
  /Broker/SCIM/Users:
    get:
      tags:
        - SCIMAPI/Users
      summary: ユーザー情報取得
      description: 指定された条件を元にユーザー情報を取得します。
      operationId: SCIMGetUsers
      parameters:
        - $ref: '#/components/parameters/usersFilter'
      responses:
        '200':
          $ref: '#/components/responses/SCIMUsersCountResponses200'
        '400':
          $ref: '#/components/responses/SCIMErrorResponses400'
        '401':
          $ref: '#/components/responses/SCIMErrorResponses401'
        '403':
          $ref: '#/components/responses/SCIMErrorResponses403'
        '404':
          $ref: '#/components/responses/SCIMErrorResponses404'
        '500':
          $ref: '#/components/responses/SCIMErrorResponses500'
        '503':
          $ref: '#/components/responses/SCIMErrorResponses503'
    post:
      tags:
        - SCIMAPI/Users
      summary: ユーザー情報作成
      description: リクエストボディに指定したデータを元にユーザー情報を作成します。
      operationId: SCIMPostUsers
      requestBody:
        $ref: '#/components/requestBodies/SCIMPostUsersRequest'
      responses:
        '200':
          $ref: '#/components/responses/SCIMUsersResponses200'
        '400':
          $ref: '#/components/responses/SCIMErrorResponses400'
        '401':
          $ref: '#/components/responses/SCIMErrorResponses401'
        '403':
          $ref: '#/components/responses/SCIMErrorResponses403'
        '404':
          $ref: '#/components/responses/SCIMErrorResponses404'
        '500':
          $ref: '#/components/responses/SCIMErrorResponses500'
        '503':
          $ref: '#/components/responses/SCIMErrorResponses503'
  /Broker/SCIM/Users/{USER_ID}:
    get:
      tags:
        - SCIMAPI/Users
      summary: 指定ユーザー情報取得
      description: パスに指定したユーザーIDに紐づくユーザーの情報を取得します。
      operationId: SCIMGetUsersId
      parameters:
        - $ref: '#/components/parameters/USER_ID'
      responses:
        '200':
          $ref: '#/components/responses/SCIMUsersResponses200'
        '400':
          $ref: '#/components/responses/SCIMErrorResponses400'
        '401':
          $ref: '#/components/responses/SCIMErrorResponses401'
        '403':
          $ref: '#/components/responses/SCIMErrorResponses403'
        '404':
          $ref: '#/components/responses/SCIMErrorResponses404'
        '500':
          $ref: '#/components/responses/SCIMErrorResponses500'
        '503':
          $ref: '#/components/responses/SCIMErrorResponses503'
    post:
      tags:
        - SCIMAPI/Users
      summary: ユーザー情報更新
      description: パスに指定したユーザーIDに紐づくユーザーの情報を更新します。<br> *リクエストボディで指定しなかった項目は、更新されません。
      operationId: SCIMPostUsersId
      parameters:
        - $ref: '#/components/parameters/USER_ID'
      requestBody:
        $ref: '#/components/requestBodies/SCIMPostUsersIdRequest'
      responses:
        '200':
          $ref: '#/components/responses/SCIMUsersResponses200'
        '400':
          $ref: '#/components/responses/SCIMErrorResponses400'
        '401':
          $ref: '#/components/responses/SCIMErrorResponses401'
        '403':
          $ref: '#/components/responses/SCIMErrorResponses403'
        '404':
          $ref: '#/components/responses/SCIMErrorResponses404'
        '500':
          $ref: '#/components/responses/SCIMErrorResponses500'
        '503':
          $ref: '#/components/responses/SCIMErrorResponses503'
    patch:
      tags:
        - SCIMAPI/Users
      summary: ユーザー情報一部更新
      description: パスに指定したユーザーIDに紐づくユーザー情報の指定項目のみを更新します。
      operationId: SCIMPatchUsersId
      parameters:
        - $ref: '#/components/parameters/USER_ID'
      requestBody:
        $ref: '#/components/requestBodies/SCIMPatchUsersIdRequest'
      responses:
        '200':
          $ref: '#/components/responses/SCIMUsersResponses200'
        '400':
          $ref: '#/components/responses/SCIMErrorResponses400'
        '401':
          $ref: '#/components/responses/SCIMErrorResponses401'
        '403':
          $ref: '#/components/responses/SCIMErrorResponses403'
        '404':
          $ref: '#/components/responses/SCIMErrorResponses404'
        '500':
          $ref: '#/components/responses/SCIMErrorResponses500'
        '503':
          $ref: '#/components/responses/SCIMErrorResponses503'
    delete:
      tags:
        - SCIMAPI/Users
      summary: ユーザー情報削除
      description: パスに指定したユーザーIDに紐づくユーザー情報を削除します。<br> *削除方法について<br> ユーザー情報削除APIは、履歴モードの状態で削除動作が異なります。<br> 履歴モード無効の場合：削除します<br> 履歴モード有効の場合：適用終了します
      operationId: SCIMDeleteUsersId
      parameters:
        - $ref: '#/components/parameters/USER_ID'
      responses:
        '204':
          description: Successful response
          content:
            application/json: {}
        '400':
          $ref: '#/components/responses/SCIMErrorResponses400'
        '401':
          $ref: '#/components/responses/SCIMErrorResponses401'
        '403':
          $ref: '#/components/responses/SCIMErrorResponses403'
        '404':
[...]
